///////////////////////////////////////////
//  Custom base theme styles for footer  //
///////////////////////////////////////////

// Index

.index {
  @extend .row;
}

.block--system-menu-blockfooter {
  @extend .col-lg-9, .col-md-8, .col-7;

  ul {
      @extend .nav;
      justify-content: space-between;

      ul {
          @extend .flex-column;
          justify-content: normal;
      }
  }

  li {
      @extend .nav-item;
  }

  a {
      @extend .nav-link, .m3-body-md, .text-primary;
  }

  .menu-level-1 {
      a {
          @extend .m3-label, .text-light;    
      }
  }
}

.block--system-menu-blockfooter-featured {
  @extend .col-lg-3, .col-md-4, .col-5;
  
  ul {
      @extend .nav, .flex-column;
  }

  li {
      @extend .nav-item;
      margin-bottom: 20px;
  }

  a {
      @extend .nav-link, .btn, .text-light;
      background: $m3-gray-500;
  }
}


// Signature

// Signature block

.signature__wrapper {
    @extend .container;
    
}

.signature {
    @extend .row;
}

// .signature__logo-col {
//     @extend .col-5, .col-sm-2;
// }

// .signature__logo-img {
//     @extend .img-fluid;
// }

// .signature__label-col {
//     @extend .col-7, .col-sm-10;
//     padding-left: 100px;
//     align-items: flex-end;
//     display: flex;
// }

// .signature__label {
//     @extend .m3-tag;
// }

.block--footer-copyright {
    // @extend .col-lg-8, .col-md-7, .col-sm-6;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

// Responsive
@include media-breakpoint-down(xs) {
    .signature {
        .block {
            padding-bottom: 20px;
        }
    }
}