///////////////////////////////////////////
//  Styles for the Blog post full nodes  //
///////////////////////////////////////////

.node--blog_post--full {
    @extend .node--page--full;

    .content__description {
        @extend .container;
        margin-top: $spacer-sm + $spacer-xs;
        margin-bottom: $spacer-md;
        padding-right: 225px;
    }

    .content__labels {
        @extend .container;
        padding-right: 225px;
    }

    .field-author {
        display: inline;
        color: $ma-purple-500;

        p {
            display: inline;
        }
    }

    .field-related-posts {
        @extend .row;
    }

    .field-related-posts__item {
        @extend .col-lg-6;
        padding-bottom: $spacer-lg;

        .node--card {
            display: flex;
            justify-content: center;
        }
    }
}