////////////////////////////////
//  Styles for the blog view  //
////////////////////////////////

.page--blog {
  @extend .m3-view;

  .content__wrapper {
    .view__exposed {
      padding-top: 40px;
      background-color: rgba($ma-gray-500, 0.1);

      .form-item-search-api-fulltext {
        @extend .col-sm-12;
      }

      .form-item-sort-order {
        display: none;
      } 
    
      .form-actions {
        @extend .col-xl-4, .col-12;
      }

      .advanced-search-link {
        @extend .col-12;
      }
    }
  }
}