////////////////////////////////
//  Styles for the blog view  //
////////////////////////////////

.page--blog {
  @extend .m3-view;

  .content__wrapper {
    .view__exposed {
      .form-item-search-api-fulltext {
        @extend .col-sm-12;
      }

      .form-item-sort-order {
        display: none;
      } 
    
      .form-actions {
        @extend .col-12;
        margin-top: $spacer-xs;
      }

      .advanced-search-link {
        display: none;
      }
    }

    .blog-intro {
      background-color: $ma-orange-300;
    }

    .content-card {
      .content-card__content-type {
        display: none;
      }
    }
  }
}


// Latest Posts

.blog-view-block--latest {
  .view__content-inner {
    @extend .row;
  }

  .views-row {
    @extend .col-sm-4;
    margin-bottom: 0;
  }
}