/////////////////////////
//  Styles for footer  //
/////////////////////////

.footer {
    & > div {
        border-top: 1px dashed theme-color("secondary");
        padding: 30px 0;
    }
}

.index__wrapper {
    @extend .container;
}