////////////////////////////////////////
//  Footer suscribe cta block styles  //
////////////////////////////////////////


.block--freeform-suscribe-form-block {
  .block__label h2 {
    margin-bottom: $spacer-sm + $spacer-xs;
  }
}

#suscribe-form-wrapper {
  @extend .bg-light, .m3-rounded;
  
  .form__container {
    @extend .container;
    padding: ($spacer-xs + $spacer-xxs) $spacer-sm;
  }

  form {
    @extend .row;
  }

  .fields-container {
    @extend .col-sm-8;
  }

  .actions-container {
    @extend .col-sm-4;
    padding-left: 0;
  }

  .form-item,
  .form-submit {
    margin: 0;
  }

  .form-submit {
    @extend %m3-standard-button;
  }

  .form-item__label {
    display: none;
  }

  .form-item-email {
    @include appendIcon("fa-envelope", 25px, "far");

    &:before {
      line-height: 38px;
      color: $ma-purple-600;
    }

    input {
      border-radius: initial;
      border-color: transparent;
      border-bottom-color: $ma-gray-500;
      padding-left: 0;
      color: $ma-purple-600;

      &:invalid {
        box-shadow: none;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  #suscribe-form-wrapper {
    .actions-container {
      padding-left: 15px;
      margin-top: $spacer-sm;
    }
  }
}