///////////////////////////
//  Styles for homepage  //
///////////////////////////

// Global overrides
.is-frontpage {}

// Homepage styles
.homepage {
    padding-top: $spacer-md;
}
  
.homepage__header {
    @extend .container;
    padding-right: 350px;
}

.homepage__title {
    @extend .m3-title-lg;
    font-size: 5rem;
    line-height: 1.25;
}

.homepage__subtitle {
    @extend .m3-featured-sm;
    margin-top: $spacer-md;
    margin-bottom: $spacer-md;
}