//////////////////////////////////
//  Styles for navigation menu  //
//////////////////////////////////

.navbar__wrapper {
  @extend .navbar-collapse;
  flex-direction: column;
  align-items: flex-end;
}

.navbar__elements {
  width: 100%;
}

.navbar__row:not(:last-child) {
  margin-bottom: $spacer-sm;
}

.contactbar__wrapper,
.taskbar__wrapper,
.navigation__wrapper {
  width: 100%;
}

.contactbar,
.taskbar,
.navigation {
  @extend .navbar-nav, .mr-auto;
  justify-content: flex-end;
  align-items: center;

  .block {
      @extend .nav-item;
  }
}

.block--system-menu-blockmain,
.block--system-menu-blockaccount {
    ul {
        @extend .nav;

        li {
        @extend .nav-item;

            a {
              @extend .m3-link-md;
              color: $ma-green-600;
              text-decoration: none;
              padding-right: $spacer-sm + $spacer-xs;
              transition: color 0.2s;
            }

            a:hover {
              color: $ma-green-400;
              text-decoration: none;
            }
        }
    }
}

.block--datos-de-contacto {
  margin-right: $spacer-sm + $spacer-xs;
  
  p {
    @extend .m3-label;
    margin: 0;
    color: $ma-gray-500;
  }

  a {
    color: $ma-green-600;
    font-weight: 700;
  }
}

.navigation__search-button {
    @extend .m3-circle-button;

    .icon {
        @include iconize('fa-search', 16px);
    }
}


// Responsive
@include media-breakpoint-down(md) {
  .contactbar__wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $spacer-xs + $spacer-xxs;

    .block--datos-de-contacto {
      margin-right: 0;
      margin-bottom: $spacer-xs + $spacer-xxs;
    }
  }

  .navbar__wrapper {
    position: fixed;
    right: 0;
    width: 55vw;
    height: 100vh;
    top: 0;
    pointer-events: none;
    transform: translateY(0) !important;
    overflow: hidden;

    .navbar__elements {
      width: 100%;
      height: 100%;
      padding: $spacer-xs + $spacer-xxs;
      padding-bottom: $spacer-xl;
      background-color: $m3-light;
      border: 1px solid $ma-green-300;
      pointer-events: all;
      transition: transform 0.3s;
      transform: translateX(100%);

      .contactbar,
      .taskbar,
      .navigation {
        justify-content: flex-start;
        align-items: flex-start;
      }

      .navbar__row:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  .navbar__wrapper.is-expanded {
    .navbar__elements {
      transform: translateX(0%);
    }
  }

  .block--system-menu-blockheader-featured,
  .block--system-menu-blockmain {
    width: 100%;

    ul {
      -ms-flex-direction: column !important;
      flex-direction: column !important;

      li {
        padding-bottom: $spacer-sm;

        a {
          width: 100%;
        }
      }

      li:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar__wrapper {
    width: 75vw;
  }
}

@include media-breakpoint-down(xs) {
  .navbar__wrapper {
    width: 95vw;
  }
}