////////////////////////////////
//  Variables for text sizes  //
////////////////////////////////

// Root fontsize for body refference

$t-root: 16px;


// Global line height

$m3-line-height: 1.25;


// Global font sizes

$t-01: 0.875rem;   // 14px
$t-02: 1rem;   // 16px
$t-03: 1.25rem;      // 20px
$t-04: 1.5rem;   // 24px
$t-05: 2rem;    // 32px
$t-06: 2.5rem;      // 40px


// NOTE: pixel measures were determined asuming the 16px default base


// Tablet font sizes

$t-tablet-01: 1 * $t-01;
$t-tablet-02: 1 * $t-02;
$t-tablet-03: 0.8 * $t-03;
$t-tablet-04: 0.8 * $t-04;
$t-tablet-05: 0.8 * $t-05;
$t-tablet-06: 0.8 * $t-06;


// Mobile font sizes

$t-mobile-01: 1.1 * $t-01;
$t-mobile-02: 1 * $t-02;
$t-mobile-03: 0.8 * $t-03;
$t-mobile-04: 0.8 * $t-04;
$t-mobile-05: 0.6 * $t-05;
$t-mobile-06: 0.6 * $t-06;
