////////////////////////////
//  Global button styles  //
////////////////////////////

// Button effect
.btn-fx {
    transform: scale(1);
    transition: transform 0.2s;
}

.btn-fx:active:hover {
    transform: scale(0.95);
}


// Bootstrap overrides
.btn {
    @extend .btn-fx;
    padding: ($spacer-xs + $spacer-xxs) ($spacer-sm + $spacer-xxs);
    font-size: $t-01;
    text-transform: uppercase;
    border-radius: 999px;

    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.btn-lg {
    font-size: $t-01;
    padding: $spacer-sm + $spacer-xs;
}


// Button styles
.m3-cta-button {
    @extend .btn;
    background-color: $ma-green-600;
    color: theme-color('light');

    &:hover {
        background-color: $ma-green-400;
        color: theme-color('light');
    }
}

.m3-standard-button {
    @extend .btn;
    border: 2px solid $ma-green-600;
    color: $ma-green-600;
    background-color: theme-color('light');

    &:hover {
        color: theme-color('light');
        background-color: $ma-green-400;
        border-color: $ma-green-400;
    }
}

.m3-ghost-button {
    @extend .btn, .btn-link;
    color: $ma-green-400;

    &:hover {
        color: $ma-green-600;
    }
}

.m3-tag-button {
    @extend .m3-tag;
    border-radius: 4px;
    margin-right: 0.5rem;
    padding: 6px 15px;
    border: none;
    background-color: $ma-yellow-300;
    color: $ma-green-700 !important;
    
}

.m3-circle-button {
    @extend .btn;
    width: 35px;
    height: 35px;
    display: inline-block;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    border: 2px solid theme-color('primary');
    background-color: theme-color('light');
    color: theme-color('primary');
    padding: 0;

    .icon {
        @include centerThis();
        width: 100%;
    }
}

.m3-language-button {
    @extend .btn;
    margin: 0;
    padding-left: 15px;
    padding-right: 15px; 
    font-weight: 500;

    .icon {
        @include iconize('fa-language');
        width: 100%;
    }
}