///////////////////////////////////
//  Content nodes common styles  //
///////////////////////////////////

.node {
  .content__description {
    @extend .m3-featured-sm;
    margin-right: 5%;
    margin-bottom: 30px;
    color: $m3-gray-400;

    a {
      @extend .m3-link;
    }
  }
  
  .content__labels {
    max-width: 340px;
    margin-bottom: 15px;

    .field-content-topics {
      display: inline;
    }
  
    .field-content-topics__item {
      margin-bottom: 15px;
      display: inline-block;
      
      a {
        @extend .m3-tag-button;
        display: inline-block;
      }
    }

    .field-resource-type,
    .field-blog-post-type,
    .field-profile-type {
      margin-bottom: 15px;
      display: inline-block;

      a {
        @extend .m3-tag-button;
        display: inline-block;
      }
    }
  }

  .content__intro,
  .content__content {
    @extend .m3-text-styled;
  }
}
