///////////////////////////////
//  Common styles for views  //
///////////////////////////////

%view-card-height-normalizer {
  .views-row {
      position: relative;
      margin: 0;
  }

  .node--card,
  .card-link,
  .content-card {
      height: 100%;
  }
}

.m3-view {
  .block--page-title-block {
    position: relative;
    background-color: $ma-orange-300;
    padding-top: $spacer-xl;
    padding-bottom: $spacer-md;
    color: theme-color("primary");

    .block__content {
      @extend .container;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 225px;
        height: 198px;
        top: 0;
        right: 0;
        z-index: 1;
        background-image: url("#{$m3_assets_dir}/img/flowers_peach.svg");
        background-size: 225px;
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    h1 {
      @extend .m3-title-lg;
      color: $ma-purple-600;
      margin: 0;
    }
  }

  .content__wrapper {
    .view__exposed {
      background-color: $ma-orange-300;
      padding-top: $spacer-md;
      padding-bottom: $spacer-xl;
      position: relative;

      .form__container {
        position: relative;
        z-index: 2;
      }
  
      .views-exposed-form {
        @extend .row;
        align-items: flex-end;
      }

      .form-item {
        @extend .col-sm-4;
      }
    }

    .view__content {
      padding-top: $spacer-xxl;
      padding-bottom: $spacer-xxl - $spacer-xl;
    }

    .view__content-inner {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: 0 $spacer-md;

      .content-card,
      .collection-card {
        margin: 0 auto;
      }
    }

    .view__pager {
      max-width: 100%;
      overflow: hidden;

      .pager {
        margin-top: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .m3-view {
    .content__wrapper {
      .view__content-inner {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .m3-view {
    .block--page-title-block {
      padding-left: $spacer-sm;
      padding-right: $spacer-sm;
    }

    .content__wrapper {
      .view__content-inner {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .m3-view {
    .content__wrapper {
      .view__exposed {
        padding-left: $spacer-sm;
        padding-right: $spacer-sm;
      }
      
      .view__content {
        padding-bottom: 0;
      }
    }
  }
}